a {
    text-decoration: none;
    /* Elimina el subrayado de todos los enlaces */
    color: inherit;
    /* Los enlaces heredarán el color de su contenedor */
    font-size: inherit;
    /* Los enlaces heredarán el tamaño de la fuente */
}


.body-container {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    /* Define las proporciones de las columnas */
    gap: 1rem;
    /* Espacio entre columnas */
    padding: 2rem;
    /* Espacio alrededor del contenedor */
    background-color: white;
    width: 100%;
}

.left-column,
.middle-column,
.right-column {
    padding: 1rem;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-sizing: border-box;
}

.left-column {
    background-color: #e0e0e0;
    /* Color de fondo de la primera columna */
    margin-left: 12%;
}

.middle-column {
    background-color: #c0c0c0;
    /* Color de fondo de la columna central */
}

.right-column {
    background-color: #a0a0a0;
    /* Color de fondo de la tercera columna */
    margin-right: 25%;
}




/* Eliminar subrayado y mantener el estilo de texto original */
.middle-column a {
    text-decoration: none;
    /* Elimina el subrayado */
    color: inherit;
    /* Hereda el color del contenedor */
    font-size: inherit;
    /* Hereda el tamaño de la fuente */
}

/* Estilos generales para enlaces en el proyecto */
a {
    text-decoration: none;
    /* Elimina el subrayado de todos los enlaces */
    color: inherit;
    /* Los enlaces heredarán el color de su contenedor */
    font-size: inherit;
    /* Los enlaces heredarán el tamaño de la fuente */
}
