.nosotros-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}

.nosotros-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.nosotros-content h1,
.nosotros-content p {
    margin: 20px 0;
}

/* Contenedor de las columnas */
.bios {
    display: flex;
    flex-wrap: wrap;
    gap: 20rem;  /* Espaciado aumentado entre las columnas */
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    max-width: 300px;
    flex: 1;
    border-radius: 10px;
        /* Esto redondea todas las esquinas */
}

.bios-img {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 3rem 0 2rem 0;
}

.column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    list-style-type: square;
    /* Esto hace que las viñetas sean cuadrados sólidos */
    padding-left: 20px;
    /* Añadir espacio entre la viñeta y el texto */
    }

.column ul li {
    margin: 5px 0;
    font-size: 16px;
    /* Tamaño de la fuente */
    color: #333;
    /* Color del texto */
}

/* Añadir viñetas a la lista */
ul {
    list-style-type: square;
    /* Esto hace que las viñetas sean cuadrados sólidos */
    padding-left: 20px;
    /* Añadir espacio entre la viñeta y el texto */
}

/* Personalizar aún más las viñetas (si lo deseas) */
ul li {
    font-size: 16px;
    /* Tamaño de la fuente */
    color: #333;
    /* Color del texto */
}

/* Ajuste responsive */
@media (max-width: 768px) {
    .bios {
        flex-direction: column;
    }

    .column {
        max-width: 90%;
    }
}